$--element-border-radius: $--app-border-radius;
$--element-small-font-size: $--app-small-font-size;
$--element-normal-font-size: $--app-normal-font-size;
$--element-large-font-size: $--app-large-font-size;

$--element-input-box-height: $--app-input-box-height;

$--element-info-color: #B2B2B2;
$--element-light-color: #FFFFFF;

$--font-path: '~element-ui/lib/theme-chalk/fonts';